bin*/
build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
sql/updates/world/Merged.sql
sql/updates/characters/Merged.sql
sql/updates/auth/Merged.sql
CMakeLists.txt
CMakeFiles*/
*.ipch
*.bin
